# Ignore these directories
Manuscripts/
Data/

# ignore the api key for google maps
Api_key.R

# Ignore R history files
*.Rhistory

# Ignore various other file types
*.txt
*.rda
*.pdf
*.pptx
*.svg
*.names
*.joblib
*.pyc
